.container {
  display: flex;
  align-items: center;
}

.item {
  height: 15rem;
  width: 10rem;
  box-shadow: 1px 1px 10px gray;
  margin: 0 1rem;
  opacity: 0.5;
}

.centered {
  z-index: 1;
  background-color: aqua;
  animation: scaleItem 1s ease-in;
  animation-fill-mode: both;
  opacity: 1;
  transition: all 0.5s;
}

.arrow {
  font-size: 4em;
  opacity: 0.3;
  cursor: pointer;
  margin: 0 3rem;
}

@keyframes scaleItem {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
